/* Custom styles for react-slick center mode */
.slider-container {
  margin: 0 auto;
}

.slick-track {
  display: flex !important;
  align-items: stretch;
}

.slick-slide {
  padding: 20px 10px;
  display: flex !important;
  height: auto !important;
}

.slick-slide > div {
  height: 100%;
  display: flex !important;
  width: 100%;
}

.slick-slide > div > div {
  display: flex !important;
  width: 100%;
}

/* Center slide styling */
.slick-center {
  transition: all 0.3s ease;
}

.slick-slide:not(.slick-center) {
  transition: all 0.3s ease;
}


/* Dots styling */
.slick-dots {
  bottom: -50px;
}




.slick-dots li button:before {
  font-size: 20px;
  color: #2A3FCC;
  opacity: 0.5;
  transition: all 0.3s ease;
}

.slick-dots li.slick-active button:before {
  transition: all 0.3s ease;
  opacity: 1;
  color: #2A3FCC;
  scale: 1.5;
}