/* Custom styles for react-slick center mode */
.slider-container {
  margin: 0 auto;
}

.slick-slide {
  padding: 20px 10px;
}

.slick-slide>div {
  margin: 0 5px;
}

/* Center slide styling */
.slick-center {
  transform: scale(1.08);
  opacity: 1;
  transition: all 0.3s ease;
}

.slick-slide:not(.slick-center) {
  opacity: 0.5;
  transform: scale(0.95);
  transition: all 0.3s ease;
}


/* Dots styling */
.slick-dots {
  bottom: -50px;
}




.slick-dots li button:before {
  font-size: 20px;
  color: #2A3FCC;
  opacity: 0.5;
  transition: all 0.3s ease;
}

.slick-dots li.slick-active button:before {
  transition: all 0.3s ease;
  opacity: 1;
  color: #2A3FCC;
  scale: 1.5;
}